<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %-5level %logger{36} | %msg%n" />
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
        </Console>
        <File name="FILE_ALL" fileName="${sys:edi.log.dir}/${date:yyyy-MM-dd--HH-mm-ss}/all.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %-5level %logger{36} | %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="FILE_ALL" />
        </Root>
    </Loggers>
</Configuration>

